<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chooongg">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <!-- 表示当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <provider
            android:name=".BoxInitializeProvider"
            android:authorities="${applicationId}.chooongg.box"
            android:exported="false" />

        <provider
            android:name=".BoxFileProvider"
            android:authorities="${applicationId}.box.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/box_provider_paths" />
        </provider>

    </application>

</manifest>