<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chooongg.simple">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBox">

        <activity
            android:name=".modules.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidBox.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.MainActivity"
            android:label="首页"
            android:launchMode="singleTask" />
        <activity
            android:name=".modules.AppBarActivity"
            android:label="AppBar"
            android:launchMode="singleTop" />

        <activity
            android:name=".modules.HttpActivity"
            android:label="网络请求"
            android:launchMode="singleTop" />

    </application>

</manifest>